{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Help</h2>

    <p>The route for this page triggers some flash messages...</p>

    <a target="_blank" href="https://fasrturnipgames.itch.io/nutdealer-legacy">secret link shhhhhh</a>

{% endblock %}

